{% extends 'basic.html' %}
{% block title %} Home {% endblock  %}

{% block blogactive %} active {% endblock blogactive %} 

{% block body %}
<div class="pic">
<div class="container my-3">
    <div class="jumbotron">
  <h1 class="display-4">Welcome to my Website!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="smm" role="button">Go To Blog</a>
</div>


    <h2> Articles by Mehboob Shaikh</h2>
    {% for i in post %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by {{i.author}}</strong>
            <h3 class="mb-0">{{i.title}}</h3>
            <div class="mb-1 text-muted">{{i.datetime}}</div>
            <p class="card-text mb-auto">{{i.content| truncatechars:500}}</p>
            <div class="my-2">
            	<a href="/smm/{{i.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>

        </div>

        </div>

        {% endfor %}
</div>
    </div>
 {% endblock %}